# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
*/node_modules/*
*/.venv/*
*/venv/*
ui_sample
*service-account.json*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
# *.env*
*.env

google-services.json
GoogleService-Info.plist

.firebaserc
firebase.json
firestore.indexes.json
firestore.rules
android/gradle.properties
android/
todo.txt
log.txt
otp-service/otp-server-passenger.js

.cursor/
app_icon/
assets/tricykol_driver.png
assets/tricykol_icon.png
dfd.md
diagrams
driver-registration-web/

.venv/
flo



# typescript
*.tsbuildinfo
.aider*
